.container {
    -fx-background-color: #343232;
}

.label {
    -fx-text-fill: white;
}

.button {
    -fx-background-color: dimgray;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: gray;
}

.button:armed {
    -fx-background-color: darkgray;
}

.text-area {
    -fx-text-fill: white;
    -fx-control-inner-background: #191818;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .content {
    -fx-background-color: #1d1d1d;
}