@import url("logbox.css");

.log-box {
-fx-background-color: #D4D4D4;
-fx-background-radius: 15px;
-fx-border-radius: 15px;
-fx-border-color: #e0e0e0;
-fx-border-width: 2px;
-fx-padding: 8px;
-fx-min-width: 200px;
-fx-max-width: 700px;
-fx-min-height: 100px;
-fx-max-height: 120px;
-fx-overflow: hidden;
}

.log-box:hover {
-fx-background-color: linear-gradient(to bottom right, #d3d3d6, #e4e4e7);
-fx-border-color: #3e7b91
}

.background {
    -fx-background-color: #f4f4f4;
}

/* Labels */
.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #333333;
    -fx-opacity: 1;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #000000;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #000000;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-background-color: #ffffff;
    -fx-border-color: #dcdcdc;
    -fx-text-fill: #333333;
}


.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}


.table-view {
    -fx-base: #ffffff;
    -fx-control-inner-background: #ffffff;
    -fx-background-color: #ffffff;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #000000;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

/* Split Pane */
.split-pane:horizontal .split-pane-divider {
    -fx-background-color: #cccccc;
    -fx-border-color: transparent transparent transparent #999999;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: #f4f4f4;
}

/* List View */
.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: #f4f4f4;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: #eaeaea;
}

.list-cell:filled:odd {
    -fx-background-color: #f9f9f9;
}

.list-cell:filled:selected {
    -fx-background-color: #d3d3d3;
}

.list-cell:empty {
    -fx-background: #e2e2e2;
}

/* Buttons */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #f4f4f4;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #333333;
}

.button:hover {
    -fx-background-color: #e2e2e2;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #ffffff;
  -fx-text-fill: #333333;
}

.button:focused {
    -fx-border-color: #4b89a2, #4b89a2;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled {
    -fx-opacity: 0.6;
    -fx-background-color: #f4f4f4;
    -fx-text-fill: #999999;
}

.button:default {
    -fx-background-color: #4b89a2;
    -fx-text-fill: white;
}

/* Dialog Pane */
.dialog-pane {
    -fx-background-color: #f4f4f4;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #f4f4f4;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.scroll-bar {
    -fx-background-color: #cccccc;
}

.scroll-bar .thumb {
    -fx-background-color: #bbbbbb;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}


.context-menu {
    -fx-background-color: #f4f4f4;
}

.context-menu .label {
    -fx-text-fill: #333333;
}


.menu-bar {
    -fx-background-color: #f4f4f4;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #333333;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: #ffffff;
}

/* Miscellaneous */
#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: transparent #eaeaea transparent #eaeaea;
    -fx-background-insets: 0;
    -fx-border-color: #eaeaea #eaeaea #ffffff #eaeaea;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: #333333;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, #aaa, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: transparent, #eaeaea, transparent, #eaeaea;
    -fx-background-radius: 0;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}
